<h1>My Goals</h1>

<%# START OF MULTISELECT DELETE SELECTED GOALS. %>
<div class="translucent dashboard">
    <% if (!myCharacters || myCharacters.length <= 0) { %>
        <div style="margin:50px;">
            Add your characters <a href='/characters'>here</a> in order to add, edit, or delete character-specific comments!
        </div>
    <% } %>
    
    <form method="POST" id="modifyGoals" name="modifyGoals" required>
                        
        <% myCharacters.forEach(character => { %>
        <div class="goal-wrapper translucent">
            <div class="goal-header flex-row">
                <img src='/img/headshots/<%= character.name.toLowerCase() %>.png' width='40px' height='40px' style="margin-top: -5px;margin-right:6px;"> 
                <h3 style="vertical-align:bottom;color: #0f4150"><%= character.name %></h3>
            </div>
            <ul class="goal-content form-check">
                <% if (character.goals) { %>
                <% character.goals.forEach(goal => { %>  
                    <p><li class="<%= character.vision %> li-align-left">
                        <input class="form-check-input" type="checkbox" id="<%= goal.id %>" name="goalId" value="<%= goal.id %>" style="display:inline;">
                        <label class="form-check-label" for="<%= goal.id %>"><%= goal.li %></label>
                    </li></p>
                <% }) %>
                <% } %>
            </ul>
        </div>
        <% }) %>
        <button type="submit" form="modifyGoals" formaction="/dashboard/goaledit" name="button" value="edit" style="border-radius:5px;">Edit Selected Goal</button>
        <button type="submit" form="modifyGoals" formaction="/dashboard/goal/delete/?_method=DELETE" name="button" value="delete" style="border-radius:5px;">Delete Selected Goal(s)</button>
    
    </form>
<%# END OF MULTISELECT DELETE GOALS.%>
<%# Need to add modal/popup for delete confirmation: %>
<%# https://stackoverflow.com/questions/46767664/simple-express-ejs-modal %>


<%# START OF ADD NEW NOTE TO CHARACTER. %>
    <form action='/dashboard/goal/add' method='POST'>
        <div class="body-width top-line-break" >
            <label for="characters">Character:</label>
            <%# How to create dynamic select form: https://stackoverflow.com/questions/42548641/how-to-get-value-selected-in-dropdown-menu-from-ejs-template-to-server-side-node %>
            <%# Bootstrap-select options: https://developer.snapappointments.com/bootstrap-select/examples/ %>
            <%# data-action-box adds 'Select All' and 'Deselect All' buttons. %>
            <select class="selectpicker" id="characters" name="myCharId" title="Search for or select one of your characters." data-live-search="true" data-actions-box="true" data-width="60%" required>
                <optgroup label="5 Star Characters">
                    <% myCharacters.forEach(character => { %>
                        <% if (character.rarity == 5) { %>
                            <option value="<%= character.id %>"> <%= character.name %> </option>
                        <% } %>
                    <% }) %>
                </optgroup>
                <optgroup label="4 Star Characters">
                    <% myCharacters.forEach(character => { %>
                        <% if (character.rarity == 4) { %>
                            <option value="<%= character.id %>"> <%= character.name %> </option>
                        <% } %>
                    <% }) %>
                </optgroup>
            </select>
        </div>
        <div class="add-note-wrapper">
            <label for="goal" style="vertical-align:top"><span class="transparent">____</span>Goal:</label>
            <textarea id="goal" placeholder="Add notes here." name="goal" class="add-notes" rows="4" cols="60"></textarea>
        </div>
        
        <div>
            <input type='submit' value="Add New Note to Character">
        </div>
    </form>
<%# END OF ADD NEW NOTE TO CHARACTER. %>    

</div>