<h1>Edit Goals</h1>

<div class="translucent dashboard">

    <form action ="/dashboard/goal/edit?_method=PUT" method="POST" id="editGoals" name="editGoals" required>
        <div class="goal-wrapper translucent body-width"> 
        <% myCharacters.forEach(character => { %>      
    
                <ul class="goal-content form-check">
                    <% if (character.goals) { %>
                        <% character.goals.forEach(goal => { %>  
                
                            <% goalIds.forEach(goalId => { %>

                                <% if (goalId == goal.id) { %>
                                    <div class="goal-header flex-row">
                                        <img src='/img/headshots/<%= character.name.toLowerCase() %>.png' width='40px' height='40px' style="margin-top: -5px;margin-right:6px;"> 
                                        <h3 style="vertical-align:bottom;color: #0f4150"><%= character.name %></h3>
                                    </div>
                                    
                                    <p><li class="<%= character.vision %> li-align-left">
                                        <input id="goalId" name="goalId" type="hidden" value="<%= goal.id %>">
                                        
                                        <label for="goalContent"></label>
                                        <textarea class="<%= character.vision %> goal-content" id="goalContent" value="<%= goal.li %>" name="goalContent" rows="4"><%= goal.li %></textarea>
                                    </li></p>
                                <% } %> <%# End of 'if (goalId === goal.id %>

                            <% }) %> <%# End of 'goalIds.forEach %>
                        
                            <% }) %> <%# End of character.goals.forEach. %>
                    <% } %> <%# End of 'if (character.goals)' %>
                </ul>
            
        <% }) %> <%# End of myCharacters.forEach. %>
        </div>
        <button type="submit" form="editGoals" name="button" value="edit" style="border-radius:5px;">Save Goals</button>
    </form>
    
</div>