<h1>Edit Goals</h1>

<div class="translucent dashboard">

    <form method="POST" id="modifyGoals" name="modifyGoals" required>
                        
        <% myCharacters.forEach(character => { %>
        <div class="goal-wrapper translucent">
            <div class="goal-header flex-row">
                <img src='/img/headshots/<%= character.name.toLowerCase() %>.png' width='40px' height='40px' style="margin-top: -5px;margin-right:6px;"> 
                <h3 style="vertical-align:bottom;color: #0f4150"><%= character.name %></h3>
            </div>
            <ul class="goal-content form-check">
                <% if (character.goals) { %>
                <% character.goals.forEach(goal => { %>  
                    <p><li class="<%= character.vision %> li-align-left">
                        <input class="form-check-input" type="checkbox" id="<%= goal.id %>" name="goalId" value="<%= goal.id %>" style="display:inline;">
                        <label class="form-check-label" for="<%= goal.id %>"><%= goal.li %></label>
                    </li></p>
                <% }) %>
                <% } %>
            </ul>
        </div>
        <% }) %>
        <button type="submit" form="modifyGoals" formaction="/dashboard/goal/edit/?_method=PUT" name="button" value="edit" style="border-radius:5px;">Edit Selected Goal</button>
        <button type="submit" form="modifyGoals" formaction="/dashboard/goal/delete/?_method=DELETE" name="button" value="delete" style="border-radius:5px;">Delete Selected Goal(s)</button>
    
    </form>
    
</div>